################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SalesTaxes/.vs/SalesTaxes/v17
