################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SalesTaxes/.vs/SalesTaxes
/SalesTaxes/SalesTaxes.WebAPI/bin/Debug/net6.0
/SalesTaxes/SalesTaxes.WebAPI/obj
/SalesTaxes/SalesTaxes.WebUI/obj/Debug
/SalesTaxes/.vs/ProjectEvaluation
/SalesTaxes/SalesTaxes.Application/obj
/SalesTaxes/SalesTaxes.Domain/obj
/SalesTaxes/SalesTaxes.Infrastructure/obj
/SalesTaxes/SalesTaxes.Application/bin/Debug/net6.0
/SalesTaxes/SalesTaxes.Domain/bin/Debug/net6.0
/SalesTaxes/SalesTaxes.Infrastructure/bin/Debug/net6.0
/SalesTaxes/SalesTaxes.Application.Tests/bin/Debug/net6.0
/SalesTaxes/SalesTaxes.Application.Tests/obj
